.tableContainer {
    margin: 0;
}

.tableContainer .table thead {
    position: sticky;
    top: 0;
    background-color: var(--neutral-light);
    border-bottom: 2px solid var(--neutral-medium);
}

.tableContainer .course-checkbox {
    height: 30px;
    width: 30px
}

@media only screen and (max-width: 600px) {
    .tableContainer {
        overflow-x: scroll;
        margin-left: -2em;
        margin-right: -2em;
    }
}