.container {
    width: auto;
}

.container .table thead {
    position: sticky;
    top: 0;
    background-color: #edecec;
}

.container .course-checkbox {
    height: 30px;
    width: 30px
}

@media only screen and (max-width: 600px) {
    .container {
        overflow-x: scroll;
    }
}